/* Mobile First Design */
/* Resposive for tablets/ipads/computers lower in the page */

/* Colour Palette
xxx             #
xxx             #
Off-white       #
*/


/* ===========================
GLOBAL STYLES
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;
    width: auto;
}

body {
    background: beige;
    display: flex;
    flex-direction: column;
}

/* -- Header -- */
.hamburger {
    display: none;
}

/* --  Nav -- */

/* ===========================
MAIN
============================ */

main {
    max-width: 480px;       /* Max for Mobile Screen Size */
}

section {
    flex: auto;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}

p {
    line-height: normal;
}

/* a {

} */


/* ===========================
COMPONENTS
============================ */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}
.btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

/* ============================
INDEX 
============================= */



/* ============================
WORLD 
============================= */



/* ============================
CHARACTERS 
============================= */



/* ============================
PREVIEW 
============================= */



/* ============================
CONTACT 
============================= */



/* ============================
FOOTER 
============================= */


/* ============================
RESPONSIVE DESIGN 
============================= */
/* -- Tablet/Ipad -- */
@media (max-width: 768px) {

}

/* -- Desktop Monitor -- */
@media (max-width: 1920px){

}